
/* ---Author---'s custom styles ============================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 800;
    font-size: 4vw;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color: #ddd;
}
a:hover {
    text-decoration: none;
    color: gray; 
}

img.image-replace {}

body {
  line-height:1;
//top
  &:after{
    content:"";
    color: red;
    position: fixed;
    top: 0;
    left:0;
    background-color: $text_color;
    width: 100%;
    height: $framing;
    z-index:2;
  }
//bottom
    &:before{
    content:"";
    color: red;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: $text_color;
    width: 100%;
    height: $framing;
    z-index:10;
  }
}

//nested in this sequence:
.swiper-container {
  width: $framing_inside;
  margin: 0 auto 0 auto;
  padding-top: 0;
}
.swiper-wrapper{ 
}
.swiper-slide {
  img{
    width: 100%;
    margin: 0;
  } 
}
.hide{
  display:none;
  height:0;
  visibility: hidden;
}
