
/* ---Author---'s custom styles ============================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    //font-size: 4vw;
    margin:0;
    padding:0;
    text-transform: uppercase;
    color:$text_color;
}
a {
    text-decoration: none;
    color: lighten($text_color, 50);
}
a:hover {
    text-decoration: none;
    color: $text_color; 
}

img.image-replace {}

html {
  overflow-x: hidden;
}
body {
  line-height:1;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.swiper-slide {
  img{
    width: 100%;
    margin: 0;
  } 
}
.hide{
  display:none;
  height:0;
  visibility: hidden;
}

.what{
    letter-spacing: -1px;
    font-size:100%;
    font-weight: 300;
    display:inline;
    position: relative;
    top:0;
    right:0;
    color:lighten($text_color, 50);
    @include media( "screen", ">bp1Width"){white-space: nowrap;}
    
}

.header{
  width: 100%;
  min-height: 100px;
}

//footer
.mdl-mega-footer{
  padding: 40px 40px 80px 40px;
  color: $text_color_invert;
  font-weight: 300;
  background-color: $dark_color;
  a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    &:hover{color:$main_md_color;}
  }
  svg{
    margin-top: -10px;
    width:36px;
    height:36px;
    fill: $text_color_invert;
    &:hover{fill:$light_color;}
  }
  .up{float: right;}
}

.mdl-logo {
  text-transform: uppercase;
  margin-bottom: 16px;
  color: $text_color_invert;
  small{display:block; opacity: .5;}
}

.mdl-mega-footer__link-list{
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
  li {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    .mdl-mega-footer__bottom-section &{
      float: left;
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
} 

.mdl-mega-footer__bottom-section {
  padding-top: 16px;
  margin-bottom: 16px;
}




