
/* ---Author---'s custom styles ============================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 800;
    font-size: 4vw;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color: #ddd;
}
a:hover {
    text-decoration: none;
    color: gray; 
}


img.image-replace {
}


body {
  &:before{
    content:"";
    color: red;
    position: fixed;
    bottom: 0;
    left:0;
    background-color: white;
    width: 100%;
    height: 2rem;
    z-index:10;

    text-align: center;
  }
}

//nested in this sequence:
.swiper-container {
  width: calc(100% - 2rem);
  margin: 0rem 1rem;

  padding-top:4rem;
  .menu_is_open & {margin-top: 10rem;}
}
.swiper-wrapper{ 
}
.swiper-slide {
  img{
    //height: 100vh;
    width: calc(100% - 2rem);
    margin: 3rem 1rem;
  } 
}
