
/*---menu---*/
.menu{
    position: fixed;
    top:0;
    right: 0;
    z-index:100;

}
.menu_optional{display: none;}

.menu_links{ 
    margin-top: 1.75rem;
    @include media( "screen", ">minWidth") {margin-top: 1rem;}
    @include media( "screen", ">bp1Width") {margin-top: .85rem;}
    @include media( "screen", ">maxWidth") {margin-top: 1.1rem;}
    max-height: 100vh; 
    overflow: scroll; 
}

.menu_link{
    text-align: right;
    margin: 0;
    display: none; 
    h1,
    h2{
        line-height: 1;
        letter-spacing: -1px;
        text-align: right;
        color: $text_color;
        text-align: right;
        text-transform: uppercase;
        text-shadow: $text_shadow;
        small{
            opacity: 1;
            font-size:45%;
        }
    }
    :hover{text-shadow: $text_shadow-hover;}

    h2{padding-right:90px;
        // margin-right: 2rem;    
        font-weight: 500;
        font-size: 6vw;
        @include media( "screen", ">minWidth") {font-size: 4vw;}
        @include media( "screen", ">bp1Width") {font-size: 3vw;}
        @include media( "screen", ">maxWidth") {font-size: 2.5vw;}
    }
    h1{
        padding-right:90px;
        padding-bottom:10px;
        font-weight: 800;
        font-size: 8vw;
        @include media( "screen", ">minWidth") {font-size: 6vw;}
        @include media( "screen", ">bp1Width") {font-size: 5vw;}
        @include media( "screen", ">maxWidth") {font-size: 3vw;}
    }
    .what{
        display:block;
        line-height:.5;
    }
    &.last h2{
        font-size:60%;
    }
    .menu_is_open &{display: block; }
 }


.menu_link--title{
    display: block;
    
    &:hover{ color: $main_color; }
}

.switch{
    cursor:pointer;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index:2;
    right:1rem;
    top: 0;
    padding: .5rem;
    margin:.5rem 1.5rem 0 0;  
}

.text_shadow{
    shadow: $text_shadow;
}

