//header
$header_font_size: calc(2.75vh + 16px);

.header{
  width: 100vw;
  height: 100vh;
  position: relative;
  font-weight: 300;
  font-size: $header_font_size;
  line-height: 1;

  h1{
    font-weight: 300;
    font-size: $header_font_size;
  }
  ul{ list-style: none; }

  // add some shit...
  &:before{
    content: "";
    position: fixed;
    top: 8vh;
    right: 8vw;
    width: 8vw;
    height: 8vh;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
  }
  &:after{
    content: "";
    position: fixed;
    bottom: 8vh;
    left: 8vw;
    width: 8vw;
    height: 8vh;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
  }
}
.header_title{
  position: absolute;
  padding: 0 11vw;
  top: 11vh;
  text-align: center;
  @include media( "screen", ">minWidth") {text-align: left;}
}
.header_nav{
  width: 100%;
  position: absolute;
  padding: 0 11vw;
  bottom: 11vh;
  text-align: center;
  @include media( "screen", ">minWidth") {text-align: right;}
}

.what{
  display: block;
  letter-spacing: -1px;
  position: relative;
  color:$link_color;
}

.expand_more{
  position: absolute;
  z-index: 1000;
  bottom: calc(50% - 12px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  fill: red;
  &:hover{fill:black;}
}
