//header
$header_font_size: calc(2.75vw + 16px);
$border_size: 3px;

$corners_distance: 7vw; //use this also for verticals
$corners_dimension: $corners_distance*1.3;


.header_box {
  width: 100vw;
  //the only vh is here...
  height: 100vh;
}

.header {
  width: 100%;// calc(100% - $corners_distance);
  height: 100%;
  position: relative;
  font-weight: 300;
  font-size: $header_font_size;
  line-height: 1;

  h1{
    font-size: $header_font_size;
    @include media( "screen", ">minWidth" ) {
      font-size: calc(2.75vw + 14px);
      line-height: 1;
    }
  }

  ul{ list-style: none; }

  // add some shit...
  &:before{
    content: "";
    position: absolute;
    top: $corners_distance;
    right: $corners_distance;
    width: $corners_dimension;
    height: $corners_dimension;
    border-top: $border_size solid $link_color;
    border-right: $border_size solid $link_color;
    border-radius: $border_size;
  }
  &:after{
    content: "";
    position: absolute;
    bottom: $corners_distance;
    left: $corners_distance;
    width: $corners_dimension;
    height: $corners_dimension;
    border-bottom: $border_size solid $link_color;
    border-left: $border_size solid $link_color;
    border-radius: $border_size;
  }
}
.header_title{
  position: absolute;
  text-align: center;
  //width: 100%;
  top: $corners_distance * 1.5;
  left: 0;
  @include media( "screen", ">minWidth") {
    text-align: left;
    top: $corners_distance;
    left: $corners_distance;
  }
  a:hover{
    h1{
      color: $link_color;
    }
    .what{
      color: $text_color;
    }
  }
}
.header_nav{
  width: calc(100% - $corners_distance - $corners_distance);
  position: absolute;
  right: $corners_distance;
  left: $corners_distance;
  bottom: $corners_distance * 1.5;
  text-align: center;
  line-height: 1.75;
  @include media( "screen", ">minWidth") {
    bottom: $corners_distance;
    text-align: right;
    line-height: 1.2;
  }
  // style for active page
  .active a{color: black;}
}

.what{
  @include media( "screen", ">bp1Width") {
    .br{display: none;}
  }
  display: block;
  letter-spacing: -1px;
  color:$link_color;
}

.expand_more{
  position: absolute;
  z-index: 1000;
  bottom: calc(50% - 10px);
  left: calc(50% - 16px);
  width: 38px;
  height: 38px;
  @include media( "screen", ">minWidth") {
    bottom: calc(50% - 16px);
  }

  svg{
    border-radius: $border_size;
    fill: $link_color;
    border: 0 none;
    &:hover { fill: darken($link_color, 20); }
    @include media( "screen", ">bp1Width") {
      border: $border_size solid $link_color;
      &:hover {
        fill: darken($link_color, 20);
        border: $border_size solid darken($link_color, 20);
      }
    }
  }

  .qr_is_big &{display: none;}
}
