
/*---menu---*/
.menu{
    position: fixed;
    top:$framing;
    right:$framing;
    z-index:10;
}

.switch{
    position: absolute;
    right: -28px;
    top: -28px;
    z-index: 11;
    margin: 0 0 0 0;
    cursor: pointer;
    display: block;
    width: 56px;
    height: 56px; 
}

.menu_optional{display: none;}

//nav
.menu_links{ 
    display: block;
    margin-right:48px;
    margin-top:100px;
}

.menu_link{
    text-align: right;
    margin: 0;
    margin-right: $framing;
    display: none; 
    h1,
    h2{
        line-height: 1;
        letter-spacing: -1px;
        text-transform: uppercase;
        color: $current_md_color;
    }
    &:hover{
        color: lighten($current_md_color, 10);
    }

    h2{
        padding-right: 0;   
        font-weight: 500;
        font-size: 5vw;
        @include media( "screen", ">bp1Width") {font-size: 2.5rem;}
    }
    h1{
        padding-right:0;
        padding-bottom:0;
        font-weight: 800;
        font-size: 8vw;
        @include media( "screen", ">bp1Width") {font-size: 3.5rem;}
    }
    
    &.last h2{
        font-size:70%;
    }
    .menu_is_open &{display: block; }
 }

.head{position: relative;}

.menu_link--title{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items:flex-end;
    -ms-flex-align:flex-end;
    align-items:flex-end;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    
    margin-top:.75rem;
    margin-right:4rem;
    @include media( "screen", ">bp1Width"){
        margin-top:2.1rem;
        margin-right:56px * 2;
    }
    z-index:120;
    
    &:hover{ color: $main_color; }
}

