//variables

$text_color: white;
$main_color: black;//$text_color;
$alert_color: yellow;
$text_shadow:-1px -1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgb(68,138,255);
$text_shadow-hover:-1px -1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px darken(rgb(68,138,255), 20) ;

@import '01_normalize';
@import '02_boilerplate';
@import '03_swiper';
@import '04_cmq';
@import '05_main';
@import '06_menu';
@import '07_helpers';
@import '08_print';
