//variables

//colors
$light_color: white;
$dark_color: black;

$text_color: lighten($dark_color, 20); 
$main_color: $light_color;

$alert_color: red;

//material design stuff
$current_md_color: lighten(rgb(68,138,255), 5);

//shadows
  //new shadow
$VAR_shadow_color00:rgba(0,0,0, .5);
$VAR_shadow_color01:darken(rgb(68,138,255), 20);//rgba(255, 255, 255, .75);
  //material design settings:
  // $VAR_shadow_color00:rgb(68,138,255);
  // $VAR_shadow_color01:rgba(0, 0, 0, 0.3);

$shadow:-1px -1px 0 $VAR_shadow_color01,-1px 1px 0 $VAR_shadow_color01,1px -1px 0 $VAR_shadow_color01,1px 1px 0 $VAR_shadow_color01,0 0 15px $VAR_shadow_color00;
$shadow-hover:-1px -1px 1px $VAR_shadow_color01,1px 1px 1px $VAR_shadow_color01,0 0 10px darken($VAR_shadow_color00, 20);

//body framing (not-used)
// $framing: 2.5vw;
// $framing_inside: 95vw;
// $framing_color: white;


//import partials
@import '01_normalize';
@import '02_boilerplate';
@import '03_header';
@import '04_cmq';
@import '05_main';
@import '06_helpers';
@import '07_print';
