//variables

//colors
$light_color: white;
$dark_color: black;
$text_color:lighten($dark_color, 20);
$text_color_invert: darken($light_color, 20);
$main_color: $light_color;
$link_color:lighten($text_color, 50);

$alert_color: red;

//material design stuff
$main_md_color: rgb(68,138,255);
$current_md_color: lighten($main_md_color, 5);

//shadows
$shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

//body framing (not-used)
// $framing: 2.5vw;
// $framing_inside: 95vw;
// $framing_color: white;


//import partials
@import '01_normalize';
@import '02_boilerplate';
@import '03_cmq';
@import '04_mixins';
@import '05_header';
@import '06_main';
@import '07_print';
