<div class="header_box">

 <div class="header" data-sr=''>

  <div class="header_title" data-sr=''>
   <a class="title" title="back to home page" href="/" alt="home">
    <h1>{{site.title}}</h1>
    <span class="what">{{site.sector}}</span>
   </a>

  </div>

  {% include menu.html %}


  <div class="expand_more" data-sr='reset'>
   <a title="scroll down to see photo examples of worth mentioning works" href="#check">
     <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24">
       <path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
       <path d="M0 0h24v24h-24z" fill="none"/>
     </svg>
   </a>
  </div>

 </div>

</div>
