<div class="header_nav menu" data-sr=''>

{% for item in site.data.menu %}
  {% if page.url contains item.page %}
  <div class="menu_item active">
    <a title="{{item.page}}" href="/{{item.page}}/">
      <span>{{item.page}}</span>
    </a>
  </div>
  {% else %}
  <div class="menu_item">
    <a title="{{item.page}}" href="/{{item.page}}/">
      <span>{{item.page}}</span>
    </a>
  </div>
  {% endif %}
{% endfor %}

  <div class="menu_item last">
   <a alt="Rocco Marosi is available everywhere on planet earth excluding antartica" title="{{ site.email }}" href="mailto:{{ site.email }}">Get a quote</a>
  </div>

</div>
