<div class="header_nav" data-sr=''>
  <ul>

    {% for item in site.data.menu %}
    {% if page.url contains item.page %}
    <li class="active">
      <a href="/{{item.page}}/">{{item.page}}</a>
    </li>
    {% else %}
    <li>
      <a href="/{{item.page}}/">{{item.page}}</a>
    </li>
    {% endif %}
    {% endfor %}

    <li class="last">
     <a alt="Rocco Marosi is available everywhere on planet earth excluding antartica" title="{{ site.email }}" href="mailto:{{ site.email }}">Get a quote</a>
    </li>

  </ul>
</div>
