<!-- check -->
<script type="text/javascript">
  var images= document.querySelectorAll( "#check img" ),
  L = images.length, fig = document.createElement('figure'),
  who, temp
  while(L) {
    temp = fig.cloneNode(false);
    who = images[--L];
    caption = who.getAttribute("alt");
    who.parentNode.insertBefore(temp, who);
    content = document.createElement( 'figcaption' );
    content.innerHTML = caption;
    temp.appendChild(who);
    temp.appendChild(content);
  }
</script>

<script>
/* toggle figcaptions */
  function toggleClass(element, className){
      if (!element || !className){
          return;
      }

      var classString = element.className, nameIndex = classString.indexOf(className);
      if (nameIndex == -1) {
          classString += ' ' + className;
      }
      else {
          classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
      }
      element.className = classString;
  }

  document.getElementById('check').addEventListener('click', function() {
      toggleClass(document.getElementById('check'), 'and caption is_showing');
      toggleClass(document.figcaption, 'is_out');
  });
</script>
