//header


.header_box {
  width: 100vw;
  //the only vh is here...
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.header {
  width: 100%; // calc(100% - $corners_distance);
  height: 100%;
  position: relative;
  font-weight: 300;
  //font-size: $header_font_size;
  @include responsive-font(4vw, 30px, 100px, 40px);
  line-height: 1;

  h1 {
    //font-size: $header_font_size;
    @include responsive-font(6vw, 35px, 150px, 50px);
    line-height: 1;
  }

  ul {
    list-style: none;
  }
  // add some shit... corners
  &:before {
    content: "";
    position: absolute;
    top: $corners_distance;
    right: $corners_distance;
    width: $corners_dimension;
    height: $corners_dimension;
    border-top: $border_size solid $link_color;
    border-right: $border_size solid $link_color;
    border-radius: $border_size;
    margin-right: -1rem;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: $corners_distance;
    left: $corners_distance;
    width: $corners_dimension;
    height: $corners_dimension;
    border-bottom: $border_size solid $link_color;
    border-left: $border_size solid $link_color;
    border-radius: $border_size;
    margin-left: -1rem;
  }
}

.header_title {
  width: 100%;
  position: absolute;
  text-align: center;
  top: $corners_distance * 3;
  padding-left: $corners_distance;
  padding-right: $corners_distance;
  left: 0;
  @include media("screen", ">minWidth") {
    text-align: left;
    top: $corners_distance;
    // left: $corners_distance;
    // right: $corners_distance;
  }

  a:hover {
    h1 {
      color: $link_color;
    }

    .what {
      color: $text_color;
    }
  }
}

.header_nav {
  //width: calc(100% - $corners_distance);
  position: absolute;
  right: $corners_distance;
  left: $corners_distance;
  bottom: $corners_distance * 3;
  text-align: center;
  line-height: $header_line_height;
  @include media("screen", ">minWidth") {
    bottom: $corners_distance;
    text-align: right;
    //line-height: $header_line_height;
  }

  li {
    display: block;
  }

  a {
    text-transform: uppercase;
    @include responsive-font(4vw, 30px, 50px, 36px);
    line-height: 1;
    display: block;
    height: 26px;
    @include media("screen", ">minWidth") {
      height: 28px;
    }
    @include media("screen", ">bp1Width") {
      height: 34px;
    }
    @include media("screen", ">maxWidth") {
      height: 42px;
    }
  }
  // style for active page
  .active a {
    color: black;
  }
}

.what {
  @include media("screen", ">bp1Width") {
    .br {
      display: none;
    }
  }
  display: block;
  letter-spacing: -1px;
  color: $link_color;
  text-transform: uppercase;
}

.expand_more {
  position: absolute;
  z-index: 1000;
  bottom: calc(55% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;

  svg {
    border-radius: $border_size;
    fill: $link_color;
    border: 0 none;

    &:hover {
      fill: darken($link_color, 20);
    }
    @include media("screen", ">bp1Width") {
      border: $border_size solid $link_color;

      &:hover {
        fill: darken($link_color, 20);
        border: $border_size solid darken($link_color, 20);
      }
    }
  }

  a {
    display: block;
    width: 50px;
    height: 50px;
  }

  .qr_is_big & {
    display: none;
  }
}
