//header
$header_font_size: calc(2.5vw + 15px);
$border_size: 3px;

$corners_distance: 8vw; //use this also for verticals
$corners_dimension: $corners_distance*1.3;
$header_line_height: 1.15;

.header_box {
  width: 100vw;
  //the only vh is here...
  height: 100vh;
}

.header {
  width: 100%;// calc(100% - $corners_distance);
  height: 100%;
  position: relative;
  font-weight: 300;
  font-size: $header_font_size;
  line-height: $header_line_height;

  h1{
    font-size: $header_font_size;
    line-height: $header_line_height;
  }

  ul{ list-style: none; }

  // add some shit... corners
  &:before{
    content: "";
    position: absolute;
    top: $corners_distance;
    right: $corners_distance;
    width: $corners_dimension;
    height: $corners_dimension;
    border-top: $border_size solid $link_color;
    border-right: $border_size solid $link_color;
    border-radius: $border_size;
  }
  &:after{
    content: "";
    position: absolute;
    bottom: $corners_distance;
    left: $corners_distance;
    width: $corners_dimension;
    height: $corners_dimension;
    border-bottom: $border_size solid $link_color;
    border-left: $border_size solid $link_color;
    border-radius: $border_size;
  }
}
.header_title{
  width: 100%;
  position: absolute;
  text-align: center;
  top: $corners_distance * 1.5;
  padding-left: $corners_distance;
  padding-right: $corners_distance;
  left: 0;
  @include media( "screen", ">minWidth") {
    text-align: left;
    top: $corners_distance;
    // left: $corners_distance;
    // right: $corners_distance;
  }
  a:hover{
    h1{
      color: $link_color;
    }
    .what{
      color: $text_color;
    }
  }
}
.header_nav{
  //width: calc(100% - $corners_distance);
  position: absolute;
  right: $corners_distance;
  left: $corners_distance;
  bottom: $corners_distance * 1.5;
  text-align: center;
  line-height: $header_line_height;
  @include media( "screen", ">minWidth") {
    bottom: $corners_distance;
    text-align: right;
    //line-height: $header_line_height;
  }
  a{text-transform: capitalize;}
  // style for active page
  .active a{color: black;}
}

.what{
  @include media( "screen", ">bp1Width") {
    .br{display: none;}
  }
  display: block;
  letter-spacing: -1px;
  color:$link_color;
}

.expand_more{
  position: absolute;
  z-index: 1000;
  bottom: calc(55% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;

  svg{
    border-radius: $border_size;
    fill: $link_color;
    border: 0 none;
    &:hover { fill: darken($link_color, 20); }
    @include media( "screen", ">bp1Width") {
      border: $border_size solid $link_color;
      &:hover {
        fill: darken($link_color, 20);
        border: $border_size solid darken($link_color, 20);
      }
    }
  }

  a {
    display: block;
    width: 50px;
    height: 50px;
  }
  .qr_is_big &{display: none;}
}
