.menu {
  position: absolute;
  padding: var(--corner_distance);
  right: var(--corner_distance);
  left: var(--corner_distance);
  bottom: calc(var(--corner_distance) * 3);
  text-align: center;
  @include media('screen', '>bp1Width') {
    bottom: calc(var(--corner_distance) * 1);
    text-align: right;
  }

  .menu_item {
    // link container
    font-size: $menu_font_size;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media('screen', '>bp1Width') {
      justify-content: flex-end;
    }
  }

  a {
    font-size: $menu_font_size;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 10px;
    margin: 3px 0;
    border: 3px solid #666;
    width: 100%;
    max-width: 230px;

    span {
      @include media('screen', '>bp1Width') {
        width: 90%;
        text-align: right;
      }
    }
  }

  // style for active page
  .active a {
    color: black;
    border-color: black;
  }

  a:visited {
    color: #ccc;
    border: 3px solid #ccc;
  }
}
