.menu {
  //width: calc(100% - $corners_distance);
  position: absolute;
  padding: $corners_distance/2;
  right: $corners_distance;
  left: $corners_distance;
  bottom: $corners_distance * 1.5;
  text-align: center;
  @include media("screen", ">bp1Width") {
    padding-right: 0;
    padding-bottom: 0;
    bottom: $corners_distance;
    text-align: right;
    //line-height: $header_line_height;
  }

  .menu_item {
    // link container
    font-size: $menu_font_size;
    text-transform: uppercase;
    //@include responsive-font(4vw, 30px, 50px, 36px);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("screen", ">bp1Width") {
      justify-content: flex-end;
    }

  }

  a {
    font-size: $menu_font_size;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 10px;
    margin: 3px 0;
    border: 3px solid #666;
    width: 100%;
    max-width: 250px;

    span {
      @include media("screen", ">bp1Width") {
        width: 90%;
        text-align: right;
      }
    }

  }

  .menu_item.last a {
    color: #ccc;
    border-color: #ccc;
  }

  // style for active page
  .active a {
    color: black;
    border-color: black;
  }

  a:visited {
    color: #ccc;
    border: 3px solid #ccc;
  }

}
