
//footer
.footer{
  height: 100vh;
  min-height: 400px;
  position:relative;
  z-index:1;
  padding: 2rem 1rem;
  color: $text_color_invert;
  font-weight: 300;
  background-color: $dark_color;
  .is_big & {
    * > :not(.qr_switch){ opacity: .2;}
  }
  a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
  }
  svg{
    margin-top: 0;
    @include media( "screen", ">bp1Width") { margin-top: -6px; }
    @include media( "screen", ">maxWidth") { margin-top: -10px; }
    width: 46px;
    height: 46px;
    fill: $text_color_invert;
    &:hover{fill:$light_color;}
    &.stroke {
      stroke: $text_color_invert;
      &:hover{stroke:$light_color;}
    }
    &.mail{
      position: relative;
      top: -8px;
      width: 68px;
      height: 68px;
    }
    &.gplus{
      position: relative;
      top: 2px;
      width: 50px;
      height: 50px;
    }
    &.linkedin{
      position: relative;
      top: 4px;
    }
    &.qr_to_here{
      position: relative;
      top: 2px;
    }
  }

}

.qr_switch{
  border-radius: 2px;
  position: relative;
  top: 2px;
  left:3px;

  .bg{ fill: $text_color_invert; }

  .fg{ fill: #000; }

  &.is_big{
    position: absolute;
    bottom:10rem;
    top: auto;
    left: calc(50% - 100px);

    svg{
      width: 200px;
      height: 200px;
      .bg{
        fill: #fff;
      }
      .fg{
        fill: #000;
      }
    }

  }

}

.footer_pad {
  position: absolute;
  bottom: $corners_distance;
  left: $corners_distance;
  right: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.footer_up{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  a {
    z-index: 100;
    position: absolute;
    right: $corners_distance;
    top: $corners_distance;

    @include media( "screen", ">minWidth") {
      right: $corners_distance;
      top: $corners_distance;
    }
  }
}
.footer_title {
  text-transform: uppercase;
  color: $text_color_invert;

  h3 {
    color: lighten($text_color_invert, 25);
    @include responsive-font(5vw, 35px, 150px, 50px);
  }

  .footer_what {
    //span
    display:block;
    color: $text_color_invert;
    padding-right: 4rem;
    @include responsive-font(4vw, 30px, 100px, 40px);
  }
}

.footer_list{
  display: block;
  width: 100%;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;

  &.legal {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &.contacts a {
    float: left;
    margin-bottom: 0;
    margin-right: .75rem;
    @include media( "screen", ">minWidth") {
      margin-right: 1rem;
    }
    @include media( "screen", ">bp1Width") {
      margin-right: 1.5rem;
    }
    margin-top:2rem;
  }

  a {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5;
  }
}
