---
# Only mainSassfile needs front matter (dashes enough)
sitemap: false
---
// variables

//colors
// derivates
//  derivate of derivate
$alert_color: red;
$light_color: white;
  $main_color: $light_color;
$dark_color: black;
  $text_color_invert: lighten($dark_color, 50);
  $text_color: lighten($dark_color, 25);
    $link_color: lighten($text_color, 50);
    $link_color_invert: darken($text_color, 50);

//material design stuff
$main_md_color: rgb(68,138,255);
$current_md_color: lighten($main_md_color, 5);

//shadows
$shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

//import partials
@import '01_normalize';
@import '02_boilerplate';
@import '03_cmq';
@import '04_mixins';
@import '05_main';
@import '06_header';
@import '07_slides';
@import '08_footer';
@import '09_print';
